/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image-path: url("../images/cover-image-dark.png");
  --background-color: #000028;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --subtitle-color: #000028;
  --text-color: #f1b2ce;
  --hover_menu-color: rgba(255, 0, 112, 40%);
  --menu-button-color: var(--accent-color);
  --decoration-color: var(--accent-color);
  --articles-title-color: var(--accent-color);
  --decoration-display-mode: var(--display-mode-flex);
}