/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-image-path: url("../images/cover-image-light.png");
  --background-color: #fff1f7;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --subtitle-color: #353430;
  --text-color: #353430;
  --hover-menu-color: rgba(53, 52, 48, 40%);
  --menu-button-color: var(--text-color);
  --decoration-color: var(--text-color);
  --articles-title-color: var(--text-color);
  --decoration-display-mode: var(--display-mode-none);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image-path: url("../images/cover-image-light.png");
    --background-color: #fff1f7;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --subtitle-color: #353430;
    --text-color: #353430;
    --hover-menu-color: rgba(53, 52, 48, 40%);
    --menu-button-color: var(--text-color);
    --decoration-color: var(--text-color);
    --decoration-display-mode: var(--display-mode-none);
    --articles-title-color: var(--text-color);
  }
}
