/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-image-path: url("../images/cover-image-dark.png");
  --background-color: #000028;
  --title-color: #db00ff;
  --accent-color: #FF0070;
  --font-family-main: "IBM Plex Mono";
  --subtitle-color: #000028;
  --text-color: #F1B2CE;
  --hover-menu-color: rgba(255, 0, 112, 40%);
  --menu-button-color: var(--accent-color);
  --decoration-color: var(--accent-color);
  --articles-title-color: var(--accent-color);
  --display-mode-flex: flex;
  --display-mode-none: none;
  --decoration-display-mode: var(--display-mode-flex);
}



